{% extends 'base.html' %}
{% block content %}
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Ação</a>
      <a class="dropdown-item" href="#">outra ação</a>          
    </div>
  </div>  
<h1>Aqui é uma template</h1>
{% endblock %}


